<!-- views/restaurant.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <title>restaurant</title>
</head>

<body class="gradient-background " id="restaurant">

    <header>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="./main.html">Lieferspatz</a>
                <form class="d-flex mt-0" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Lieferspatz</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">

        <div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis ">

            <div class="col-lg-6 px-0">
                <h1 id="restaurantName" class="display-4 fw-semibold text-white">
                    <%= restaurant.RestaurantName %>
                </h1>
                <p class="lead my-3">
                    <%= restaurant.description %>
                </p>
            </div>

            <div class="col-lg-6 d-none d-lg-block mt-5 ">
                <img src="/images/<%= restaurant.image %>" alt="<%= restaurant.RestaurantName %>" width="25%"
                    class="resturant-logo" />

            </div>
        </div>


        <div class="row mb-2">
            <% items.forEach(item=> { %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/<%= item.image %>" alt="<%= item.itemName %>" class="card-img-top"
                            width="100%" height="225">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= item.itemName %>
                            </h5>
                            <p class="card-text">
                                <%= item.description %>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-muted">$<%= item.itemPrice %></span>
                                <button class="add-to-cart-btn"
                                    onclick="addToCart('<%= item.itemName %>', `<%= item.itemPrice %>`)">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>



    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script>
        function addToCart(itemName, itemPrice) {
            // You can implement the logic to add the item to the customer's cart here
            // For simplicity, let's just log the details to the console
            console.log(`Added ${itemName} to the cart. Price: $${itemPrice}`);
        }
    </script>
</body>

</html>